.allies {
    width: 100%;
    margin-top: 1.6rem;
}

.allies-subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    color: #6f81ff;
}

.allies-title {
    text-align: center;
    font-size: 2.3rem;
    font-weight: normal;
}

.allies-content {
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.allies-content-img {
    width: 20%;
}

.allies-content-img img {
    width: 12.5rem;
    filter: grayscale(100%);
    transition: 1s all ease;
}

.allies-content-img img:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1380px) {
    .allies-content-img {
        width: 25%;
    }
}

@media screen and (max-width: 1115px) {
    .allies-content-img {
        width: 30%;
    }
}

@media screen and (max-width: 850px) {
    .allies-content {
        height: auto;
        flex-direction: column;
    }

    .allies-content-img {
        margin-top: 20px;
        width: 100%;
    }
}