.clients {
    margin-top: 50px;
    width: 100%;
}

.clients-subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    color: #6f81ff;
}

.clients-title {
    text-align: center;
    font-size: 2.3rem;
    font-weight: normal;
}

.clients-content {
    margin-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    grid-gap: 25px;
}

.clients-content-img {
    width: 100%;
}

.clients-content-img img {
    width: 12.5rem;
    filter: grayscale(100%);
    transition: 1s all ease;
}

.clients-content-img img:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1250px) {
    .clients-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1150px) {
    .clients-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 960px) {
    .clients {
        margin-top: 100px;
    }

    .clients-content {
        display: none;
    }
}