.bg-Image {
    background-image: url('../img/bg-Header.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(21, 21, 47, 0.678);
}