.bg-transparent {
    background-color: transparent;
}

.bg-navbar {
    background-color: #26293D;
}

.nb-container {
    position: sticky;
    top: 0.1px;
}

.navbar-container {
    position: absolute;
    width: 100%;
    padding: 20px 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container a {
    color: white;
    text-decoration: none;
    padding-left: 23px;
}

.navbar-sections {
    display: flex;
}

.navbar-sections-navegation {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.woombatLg {
    width: 14%;
}

.translation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.translation-btn {
    color: #fff;
    cursor: pointer;
    margin-bottom: 3px;
}

@media(max-width: 594px) {
    .navbar-container {
        display: none;
    }
}
