.presentation-container {
    margin-top: 20px;
    height: 80vh;
    display: flex;
}

.part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 157%;
    width: 50%;
}

.part h1{
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
}

.part h3 {
    color: rgba(255, 255, 255, 0.685);
}

.part2 {
    width: 50%;
}