.services {
    width: 100%;
    margin-top: 1.6rem;
}

.services-title {
    text-align: center;
    font-size: 2.3rem;
    font-weight: normal;
    margin-bottom: 50px;
}

.services-container {
    background-color: white;
}

.services-container-section{
    display: flex;
    height: 50vh;
}

.section {
    width: 50%;
}

.section-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 110%;
    padding-left: 30px;
}

.image {
    width: 84%;
}


@media (max-width: 789px) {
    .section{
        width: 100%;
    }

    .services-container-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 35vh;
    }

    .image {
        display: none;
    }
    
}

@media (max-width: 395px) {
    .section {
        font-size: small;
    }

    .services-container-section {
        height: 28vh;
    }
}

@media (max-width: 339px) {
    .section {
        font-size: x-small;
    }

    .services-container-section {
        height: 22vh;
    }
}